<div class="create-post-container">
  <button [routerLink]="['/admin/post']" routerLinkActive="router-link-active"  mat-raised-button color="primary"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
  <h1>Create Post</h1>
  <form [formGroup]="postForm" (ngSubmit)="submit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="postForm.get('title').invalid && postForm.get('title').touched">
        <span *ngIf="postForm.get('title').errors.maxlength">title should be less than {{postForm.get('title').errors.maxlength.requiredLength}} characters, you enter {{postForm.get('title').errors.maxlength.actualLength}}</span>
        <span *ngIf="postForm.get('title').errors.minlength">title should be greather than {{postForm.get('title').errors.minlength.requiredLength}} characters, you enter {{postForm.get('title').errors.minlength.actualLength}}</span>
        <span *ngIf="postForm.get('title').errors.required">title is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Slug</mat-label>
      <input matInput formControlName="slug">
      <mat-error *ngIf="postForm.get('slug').invalid && postForm.get('slug').touched">
        <span *ngIf="postForm.get('slug').errors.required">slug is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" [matAutocomplete]="auto">
      <mat-error *ngIf="postForm.get('topic').invalid && postForm.get('topic').touched">
        <span *ngIf="postForm.get('topic').errors.required">topic is required</span>
      </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredTopicOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput  
        cdkTextareaAutosize
        cdkAutosizeMinRows=5
        cdkAutosizeMaxRows=15
        formControlName="content">
      </textarea>
      <mat-error *ngIf="postForm.get('content').invalid && postForm.get('content').touched">
        <span *ngIf="postForm.get('content').errors.minlength">content should be greather than {{postForm.get('content').errors.minlength.requiredLength}} characters, you enter {{postForm.get('content').errors.minlength.actualLength}}</span>
        <span *ngIf="postForm.get('content').errors.required">content is required</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Image Url</mat-label>
      <input matInput formControlName="imageUrl">
    </mat-form-field>

    <mat-checkbox class="full-width" formControlName="private">Мake Private</mat-checkbox> <br>
    
    <div formArrayName="tags" class="add-tags-content">
      <mat-form-field *ngFor="let control of tags.controls; let i = index" class="full-width" appearance="outline">
        <mat-label>Tag {{i + 1}}</mat-label>
        <!-- <input matInput [formControl]="tags.controls[i]" [matAutocomplete]="autoTag"> -->
        <mat-icon matSuffix (click)="removeTag(i)">cancel</mat-icon>
        <input matInput [formControlName]="i" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredTagsOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="addTags()" mat-raised-button>Add Tag</button>
    </div>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>

<!-- <p *ngIf="postForm">{{postForm.value | json}}</p> -->
<!-- <button (click)="test()">test</button> -->
<!-- topicOptions {{topicOptions}} -->