<div class="comment-section-container">
  <mat-divider></mat-divider>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comments
        </mat-panel-title>
        <mat-panel-description>
          5
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-comment-dialog></app-comment-dialog>

      <mat-divider></mat-divider>

      <app-comments></app-comments>
  
    </mat-expansion-panel>
  </mat-accordion>
</div>
