<div class="show-single-post-container">
  <button class="button-back" [routerLink]="['/admin/post']" routerLinkActive="router-link-active"  mat-raised-button color="primary"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>

  <mat-card class="example-card" *ngIf="post">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img *ngIf="post.publisher.photo" class="photo-publisher" [src]="post.publisher.photo" alt="">
        <img *ngIf="!post.publisher.photo" class="photo-publisher" src="https://i.ibb.co/F6YKxyw/user1.png" alt="">
      </div>
      <mat-card-subtitle>{{post.date | date}}</mat-card-subtitle>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.imageUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{post.content}}
      </p>
      <strong>private:</strong> <span>{{post.private}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/admin/post', post.slug, 'edit']" routerLinkActive="router-link-active"  mat-button><mat-icon>edit</mat-icon></button>
      <button (click)="removePost(post.slug)" routerLinkActive="router-link-active"  mat-button><mat-icon>delete</mat-icon></button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
    <pre>{{post | json}}</pre>
  </mat-card>
</div>
