<div class="posts-container">
  <div class="filter">
    <app-filter></app-filter>
  </div>
  <div class="card-toggler">
    <app-card-toggler [cardToggler]="cardToggler" (changeCardToggler)="changeCardToggler($event)"></app-card-toggler>
  </div>
  <div class="posts" [ngClass]="{'grid-container': cardToggler === 'grid'}">
    <ng-container *ngFor="let post of posts">
      <app-simple-card *ngIf="cardToggler === 'list'" [post]="post"></app-simple-card>
      <app-card *ngIf="cardToggler === 'grid'" [post]="post"></app-card>
    </ng-container>
  </div>
  <div class="parinator-container" *ngIf="allPages">
    <button (click)="prev()" color="primary" mat-mini-fab [disabled]="page <= 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <mat-chip>{{page}} of {{allPages}}</mat-chip>
    <button (click)="next()" color="primary" mat-mini-fab [disabled]="page >= allPages">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
