.selected-post-container {
  max-width: 600px;
  margin: auto auto;
}


.loading-container{
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.publisher {
  display: flex;
  margin-top: 2rem;

  &__image {
    // flex: 1;
    flex-basis: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    margin-left: 2rem;
    line-height: 2rem;

    &--name {
      font-weight: 600;
    }

    &--email {

    }
  }
}

.image {
  width: 100%;
  height: 100%;
}

.post {
  margin-top: 3rem;

  &__image {
    height: 600px;
    max-height: 600px;
    margin: 2rem 0.4rem;
    border-radius: 6px;
    overflow: hidden;
  }

  &__stat {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    opacity: .4;
    padding: 1rem;
  }
}

.content {
  font-size: 17px;
  line-height: 1.57;
  margin: 6px 0 20px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px;
  line-height: 44px;
}

.create-at {
  margin-right: 2rem;
}

.topic {

}