.example-container {
    // width: 500px;
    // min-height: calc(100% - 64px);
    min-height: 100%;
    // margin: 12px;
    border: 1px solid #555;
}

mat-nav-list {
    width: 200px;
}

// mat-drawer {
//     background-color: #1a237e;
    
// }
// // #1a237e!important

// a {
//     color: whitesmoke;
// }