.books-container {
  max-width: 1260px;
  margin: auto;
  // border: 1px solid black;
  min-height: 600px;

  display: flex;
}

.filter {
  flex-basis: 200px;
  background: #f6f6f6;
  margin-right: 2rem;
  border-radius: 10px;
}

.books {
  // background: sandybrown;
  padding: 1rem;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.loading-container{
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}