.books-container {
  max-width: 960px;
  margin: auto;
  border: 1px solid black;
  min-height: 600px;

  display: flex;
}

.filter {
  flex-basis: 200px;
  background: gray;
  margin-right: 2rem;
}

.books {
  // background: sandybrown;
  padding: 1rem;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}