.sign-up-container {
  margin: 2rem auto;

  width: 600px;
  padding: 3rem;
  box-shadow: -3px 5px 14px 14px rgba(0, 0, 0, 0.15);
  border: 1px solid whitesmoke;
}

.error-label {
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}