<div class="simple-card-container" [routerLink]="['/posts', post.slug]" >
  <div class="card">
    <div class="card__image">
      <img class="image" [src]="post.imageUrl" alt="">
    </div>
    <div class="card__content">
      <div class="title">{{post.title}}</div>
      <div class="description">{{post.description}}</div>
      <div class="tags" *ngIf="post.tag">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let tag of post.tag">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="topic">
        <mat-chip color="primary" selected>{{post.topic}}</mat-chip>
      </div>
    </div>
  </div>
</div>