<div class="simple-card-container" [routerLink]="['/posts', post.slug]" >
  <div class="card">
    <div class="card__image">
      <img class="image" [src]="post.imageUrl" alt="">
    </div>
    <div class="card__content">
      <div class="title">{{post.title}}</div>
      <div class="description">{{post.description}}</div>
      <div class="tags" *ngIf="post.tags">
        <span class="tags__item" *ngFor="let tag of post.tags">{{tag}}</span>
      </div>
      <div class="topic">
        <span class="topic__item" color="primary" selected>{{post.topic}}</span>
      </div>
    </div>
  </div>
</div>