.comments {
  padding: 0.5rem;
  margin: 1rem 0;
}

.comment {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;

  &__photo {
    flex-basis: 48px;
    margin-right: 1rem;
  }

  &__content {
    flex: 1;

    // display: flex;
    
  }
}

.photo {
  width: 48px;
  height: 48px;
}

.name {
  margin-right: 1rem;
  font-weight: 600;
}

.date {
  color: gray;
  font-weight: 200;
}