.card {
  // background: ivory;
  height: 340px;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;


  &__image {
    height: 220px;
    // width: 10rem;
    // flex: 2;
    position: relative;
  }

  &__image--author {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: whitesmoke;
  }


  &__content {
    background: #f7f7f7;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }


  &__footer {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 1rem;
    height: 60px;
  
    background: #cecece;
    // background: #f7f7f7;
    background-size: cover;
    background-blend-mode: screen;
    // -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    // clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  }
}

.image {
  height: 100%;
  width: 100%;
}

.author {
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-size: 12px;
  font-weight: 300;
}

.price-container {
  display: flex;
  justify-content: center;
}

.price {
  text-align: center;
  text-decoration: line-through;
  font-weight: 300;
  font-size: 1rem;
  margin: 0.1rem 0.5rem;
}

.price-discount {
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  margin: 0.1rem 0.5rem;
}

.card-footer-info {
  display: flex;
  justify-content: space-between;
  // background-color: yellow;
  flex: 1;
  // align-items: ;
  &__left {
    flex: 1;
    overflow: hidden;
    text-transform: uppercase;
    margin-right: auto;
  }

  &__right {
    flex: 1;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;

    display: flex;
    justify-content: flex-end;
  }
}